<footer class="p-1 bg-dark text-white">
  <hr>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
             <img src="assets/images/logo1.png" style="height:40px">
          </a>

          <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a routerLink="/registration" routerLinkActive="active" class="nav-link px-2 text-white">Registration</a></li>
              <li><a routerLink="/datagrid" routerLinkActive="active" class="nav-link px-2 text-white">DataGrid</a></li>
              <li><div class="dropdown">
                  <a href="#" class="d-flex align-items-right  text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Test</strong>
                  </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div></li>
          </ul> -->


      </div>
  </div>
    
  </ul>
</footer>

<header >
  
</header>