<div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a  class="nav-link link-dark" routerLink="/registration" routerLinkActive="active" >
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Registration
        </a>
      </li>
      <li>
        <a  class="nav-link link-dark" routerLink="/datagrid" routerLinkActive="active">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Datagrid
        </a>
      </li>
    
    </ul>
    <hr>
    
  </div>
